# ── Entornos ──────────────────────────────────────────────────────────────────
.env
.env.*
*.env
*.env.*

# ── Dependencias ──────────────────────────────────────────────────────────────
node_modules/

# ── Builds ────────────────────────────────────────────────────────────────────
dist/
.next/
build/
out/
biotime/

# ── Sistema ───────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db
*.db
